@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>Інформація про додаток</h1>

<div id="demo" class="carousel slide" data-ride="carousel">
    
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/source/Me.png" alt="Me">
            <div class="carousel-caption">
                <h3>First developer - Nikko</h3>
            </div>
        </div>
        <div class="carousel-item">
            <img src="/source/Cat.png" alt="Cat">
            <div class="carousel-caption">
                <h3>Second developer - cat Stepan</h3>
            </div>
        </div>
        <div class="carousel-item">
            <img src="/source/Lab.png" alt="Lab">
        </div>
    </div>
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
</div>
